/*
Arc-Dark Color Scheme
*/

@define-color highlight #458588;
@define-color base1  #282828;
@define-color base2  #282828;
@define-color base3  #32302f;

*{
    font-family: JetbrainsMono;
    font-size: 12px;
}

#window {
    border: 1px solid @highlight;
/*    margin: 0px 5px 0px 5px; */
    border-radius:15px;
    background-color: @base2;

}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 5px;
    padding:10px;
    background-color: @base2;
/*    margin-top: -22px; */
}

#text {
    padding: 5px;
    color: #ebdbb2;
}

#text:selected {

    color: @highlight;
}


#entry:nth-child(even) {
    background-color: @base1;
}

#entry {
    background-color: @base2;
}

#entry:selected {
    background-color: @base2;
    border: 2px solid @highlight;
    border-radius:15;
}
